// Place all the styles related to the lotto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-style{
    color: gray;
}

p.main-style{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px; 
}


.set1{
    font-weight: bold;
    font-size: 60px;
}
.set2{
    font-weight: bold;
}

.img_style{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}